/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= stub twbs-variables
 *= require twbs
 *= require bootstrap-slider
 *= require_tree .
 */

.container {
	width: 100% !important;
}

.col-md-4, .watchlist, .data, .map {max-width: 33.33333%; width: auto !important;}

.btn {
	padding: 6px 26px !important;
}

.caret {
	margin-left: -20px !important;
}

.nav-header {
  margin-left: 15px;
  color: #fff;
}

.list-inline {display: none;}

/*!
 * cooker.drawer.css
 * cooker v0.1.4
 * Copyright 2014 blivesta
 * Licensed under MIT
 * https://github.com/blivesta/drawer
 * http://teq-inc.github.io/cooker/
 */
.drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  overflow: hidden;
}
.drawer-overlay {
  position: relative;
  left: 0;
}
.drawer-open {
  overflow: hidden;
  overflow-x: hidden !important;
}
.drawer-open .drawer {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.drawer-open .drawer-overlay {
  position: absolute;
  left: 280px;
  width: 100%;
  overflow-x: hidden;
}
.drawer-open .drawer-toggle {
  left: 280px;
}
.drawer-toggle {
  padding: 5px !important;
  border-radius: 0px !important;
  background: #000 !important;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: block;
  font-size: 24px;
  color: #fff;
  visibility: visible;
  border: none;
  border-bottom-right-radius: 4px;
  -webkit-transition: all .4s cubic-bezier(.19, 1, .22, 1);
       -o-transition: all .4s cubic-bezier(.19, 1, .22, 1);
          transition: all .4s cubic-bezier(.19, 1, .22, 1);
}
.drawer-toggle:hover {
  color: #666 !important;
}
.drawer-default {
  background-color: #222;
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: inset 0 3px 9px rgba(0, 0, 0, .5);
}
.drawer-default + .drawer-overlay {
  background-color: #fff;
  -webkit-transition: left .4s cubic-bezier(.19, 1, .22, 1);
       -o-transition: left .4s cubic-bezier(.19, 1, .22, 1);
          transition: left .4s cubic-bezier(.19, 1, .22, 1);
}
.drawer-default .drawer-brand a {
  display: block;
  width: 100%;
  padding: 20px 15px;
  font-size: 22px;
  color: #fff;
}
.drawer-default .drawer-brand a:hover {
  color: #aaa;
  text-decoration: none;
}
.drawer-default .drawer-nav li a {
  padding: 5px 15px;
  color: #888;
}
.drawer-default .drawer-nav li a:hover {
  background-color: #333;
}
.drawer-default .drawer-nav li ul a {
  padding: 8px 20px;
}

.dropdown-menu {
  min-width: 174px !important;
}

#ex1Slider .slider-selection {
  background: #BABABA;
}
/*
@media (min-width: (@screen-tablet - 1)) { // 768pxä»¥ä¸‹
  .drawer-toggle{
    display: none;
    visibility: hidden;
  }
}
@media (min-width: @screen-tablet) { // 768pxä»¥ä¸Š
  .drawer{
    width:@drawer-width-tablet !important;
  }
  .drawer-overlay{
    margin-left:@drawer-width-tablet;
  }
}
@media (min-width: @screen-lg-desktop) { // 1200pxä»¥ä¸Š
  .drawer{
    width:@drawer-width!important;
  }
  .drawer-overlay{
    margin-left:@drawer-width;
  }
}
*/

.network {
  min-width: 600px;
  height: 674px;
}

.network img {
  margin-top: -15px;
}

.network h2 {
  text-align: center !important;
}

.network .zero {
  position: absolute;
  left: 48%;
  top: 47%;
  width: 50px;
  height: 50px;
  text-indent: -9999999px;
}

#ex1Slider {
  position: absolute;
  z-index: 500;
  bottom: 3%;
  left: 32%;
  width: 300px !important;
}

.slider.slider-horizontal {
  width: 400px;
}

.tooltip.top {
  margin-top: -36px !important;
}